/**
Nilico Metagenomic Pipeline (NMP)
	Copyright (C) 2018 	Dr Bruno Andrade 	      
*/
/**
	Nsilico Metagenomic Pipeline (NMP)
	Copyright (C) 2018 	Dr Bruno Andrade 	      
*/

manifest
{

  description = 'NMP : Nsilico Metagenomic Pipeline'
  mainScript = '16sNMP.nf'
}

trace 
{
    enabled = true
    fields = 'task_id, name, status, exit, module, submit, start, complete, duration, realtime, %cpu, rss, vmem, peak_rss, peak_vmem'
}

timeline 
{
    enabled = true
}


params 
{
	//Mandatory arguments
	
	//Arguments for reads and sample date
	reads_R1 = "null"
	reads_R2 = "null"
	//These are for version and help printing
	help = null
	version = null
	
	/---------------------------------
	 | 	Work Flow parameters	 |
	 ---------------------------------/	

	//Natively, this pipeline can deal with paired-end reads (two files, library="paired-end")
	//or single-end (one file, librarylayout="single-end")
	library = "paired-end"
	
		/*--------------------------------*
	 *	SOFTWARE PARAMETERS
	 *--------------------------------*/

	//BBduk parameters for trimming	
	Pcoding=33 //Phred 33 (ASCII+33) or 64 (ASCII+64)
	kcontaminants = 23 //Kmer length used for finding contaminants	
	Quality = 28 //regions with average quality BELOW this threshold will be trimmed 
	minlength = 60 //reads shorter than this after trimming will be discarded
        mink = 11 //shorter kmers at read tips to look for 
	hdist = 1  //maximum Hamming distance for ref kmers  	



	
	
 
	
}


process 
{
	//executor should be set to 'pbs' when a resource manager belonging to the 
	//PBS/Torque family of batch schedulers is used, or set to 'sge' when using  
	//a Sun Grid Engine cluster (or a compatible platform, e.g., Open Grid Engine)
	executor = 'local'
	
	//Set the used queue, this queue will be used for all the processes	
	queue = 'metagenome'
	
	
	$profileTaxa 
	{
		time =  '2h'
		cpus = 2
		memory = '4 GB'
		jobName = "Profiling with Metaphlan2"	  
	}
	
}
